<div class="next-viewing">
    <h3 class="mat-subheading-2">Next viewing</h3>

    <img alt="Great apartment in east Berlin" src="https://images.pexels.com/photos/681331/pexels-photo-681331.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" />
    
    <div class="subtitle">
      <h4 class="mat-subheading-2">Great apartment in east Berlin</h4>
      <h5>Road 17, 10785 Berlin, Germany</h5>
    </div>
    
    <div class="date">
      <mat-icon>calendar_month</mat-icon>
      10 October 2017
    </div>
    
    <div class="time">
      <mat-icon>schedule</mat-icon>
      14:00
    </div>
    
    <div class="visitors">
      <mat-icon>person</mat-icon>
      6 | 8
    </div>
    
    </div>